<!-- <div class="ratio ratio-16x9">
    <iframe src="../assets/IMG_1266.MOV" title="YouTube video" allowfullscreen></iframe>
  </div>

  <video src="../assets/IMG_1266.MOV" controls>
    <p>
      Your browser doesn't support HTML video. Here is a
      <a href="../assets/IMG_1266.MOV">link to the video</a> instead.
    </p>
  </video>
  
  ../assets/IMG_1266.MOV -->

  <video width="960" height="540" controls style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  min-width: 200px;">
    <source src="../assets/IMG_1266.MOV" type="video/mp4">
  Your browser does not support the video tag.
  </video>