<div class="container px-4">
    <div class="row gx-5" style="text-align:justify;">
      <div class="col">
       <div class="p-3">Welcome to my website! My name is Sat and I am a 2D animator and storyboard artist with a passion for creating engaging visual stories. I have always been drawn to the world of animation, and over the years I have developed a unique set of skills that allow me to bring characters to life and tell compelling stories through animation.
        <br><br>
        With over five years of experience in the industry, I have worked on a variety of projects ranging from short films and commercials to animated series and video games. I have a deep understanding of the animation process from start to finish, and I am able to bring my creative vision to life through storyboarding, character design, and animation.
        <br><br>
        My approach to animation is based on careful observation of the world around us. I believe that the best animations are the ones that capture the nuances of human behavior and the subtle interactions between characters. That is why I take the time to study human behavior and movement in order to create animations that are not only visually stunning, but also emotionally engaging.
        <br><br>
        Whether I am working on a storyboard for a commercial or animating a character for a video game, I always strive to deliver the highest quality work possible. I believe that the key to success in this industry is a combination of hard work, dedication, and a willingness to push boundaries and try new things.
        <br><br>
        Thank you for taking the time to visit my website and learn more about me. If you have any questions or would like to discuss a project, please don't hesitate to contact me. I look forward to hearing from you!</div>
      </div>
      <div class="col">
        <div class="p-3">
            <img src="https://staticcontent201043.blob.core.windows.net/satsart/me.jpg" style=" display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            min-width: 200px;">
        </div>
      </div>
    </div>
  </div>